body{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E3A8A;

    
}

header{
    background-color: #1E3A8A;
    color: #FFF9F2;
    text-align: center;
    padding: 0px 0;
        

}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;

}

.navbar{
    background-color: #F6A13C;
    color: #FFF9F2;
    padding: 10px 20px;

}
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}
.logo{
    display: inline-block;
    width: 200px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
    background: url('../img/imgs_LandingPage/logo1.png') no-repeat center center;
    background-size: contain;
    text-indent: -9999px; /* Esto oculta el texto */
    overflow: hidden;
}
.menu{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0;
}
.menu li{
    margin-right: 20px;
}
.menu li a{
    text-decoration: none;
    color: #FFF9F2;
    transition: color 0.3s;
    
}
.menu li a:hover{
    color: #FFD5A5;
    
}
.cta-content{
    min-height: 700px;
    background-color: #1E3A8A;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta-text{
    text-align: left;
    width: 50%;
}
.cta-content h2{
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    margin-bottom: 20px;
}
.cta-content p{
    font-size: 16px;
    
}
.cta-button{
    width: 358px;
    height: 74px;
    background-color: #F6A13C;
    color: #FFF9F2;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
 
}
.cta-button:hover{
    background-color: #FFD5A5;
}

.cta-image img{
    max-width: 70%;
    height: auto;
}

section{
    /* max-width: 1440px; */
    background-color: #FFF9F2;
    color: #1E3A8A;
    text-align: center;
    padding: 0px 0;

}
.target-audience{
    padding: 20px;
    
}
.target-audience h2{
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 900;

}
.target-audience-content{
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    
}
 .target-audience-content a{
    text-align: center;
    width: 30%;
    text-decoration: none;
    color:#1E3A8A;
    background-color: #FBB768;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 30px;
}
.about_us-image{ 
    text-align: center;
    margin-bottom: 10px;
}

.about_us-image img{
    max-width: 50%;
    height: auto;
}

.target-audience-content h3{
   font-size: 32px;
   font-weight: 900;
}
.target-audience-content p{
    font-size: 16px;
    color: black;
 }
 
 #bus-image img{
    width: 1440px ;
    height: 572px;
 }
 
 #about-us-p2{
    background-color:#1E3A8A;
    text-align: center;
    padding: 0px 0;
 }

 #logo_about-us img{
    width: 200px;
    height: 100px;
    margin-left: 50px;
 }

.why-to-use {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     background-color:#1E3A8A; /* Color de fondo del botón */
     color: #F6A13C;
     padding: 20px;
     border-radius: 30px;
 }
 
 .left-side {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-right: 20px; /* Espacio entre la parte izquierda y la derecha */
     margin-top: 50px;
 }
 
 .left-side h2 {
     margin-bottom: 30px; /* Espacio entre el título y el logo */
     width: 50%;
     margin-left: 50px;
 }
 
 
 .right-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 70%;
 }
 
 .feature {
    margin-top: 100px;
     width: calc(33% - 20px);
     margin-bottom: 20px; /* Espacio entre cada característica */
     text-align: center;
 }
 
 .feature h3 {
     font-size: 16px;
     font-weight: 900;
     margin-bottom: 10px; /* Espacio entre el título y el párrafo */
 }

 #about-us-p3{
    background-color: #131313;
    color: #FFF9F2;
    text-align: center;
    padding: 40px 0;
 }

 #encomanage-logo img{
    width: 409px;
    height: 73px;
    margin-bottom: 20px;
 }

.our-team{
    padding:20px;
}

.Members{
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.Member{
    text-align: center;
    width: calc(25% - 20px); 
    margin: 10px;
    text-decoration: none;
    background-color:#131313;
    border: 2px solid #FFF9F2;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
}

.member-image img{
    width: 140px;
    height: 133px;
    border-radius: 25%;
 
 }

.Member h2{
    font-weight: normal;
}


.Member h1, .Member h2 {
    margin-top: 50px;
    margin-bottom: 70px; /* Espacio entre el título y subtítulo */
}

#testimonials {
    position: relative;
    background-color: #1E3A8A;
    color: #FFF9F2;
    text-align: center;
    padding: 50px 0;
}

#testimonials h1 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}

.people-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
    text-align: left;
    background-color: #1E3A8A;
    color: #FFF9F2;
    padding: 20px;
    border-radius: 10px;
}

.testimonial-image {
    flex-shrink: 0;
    margin-right: 20px;
}

.testimonial-image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-text {
    flex-grow: 1;
}

.testimonial p {
    font-size: 16px;
    margin-bottom: 10px;
}

.testimonial h2 {
    font-size: 14px;
    font-weight: bold;
}





=======
.beneficios{
    background:#FFF9F2;
}

.beneficios-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.beneficios .beneficios-heading{
    margin-bottom: 5rem;
}

.beneficios-heading{
    height: 6rem;
    align-content: center;
    font-weight:900;
    font-size: 32px;
    color:#F6A13C
}

.beneficios-box img{
    width: 10rem;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.beneficio-item{
    background: #FFD5A5;
    border-radius: 5rem;
    margin:0 5rem;
    padding: 30px 60px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    color: #131313;
    gap:1.5px;
    transition:0.4 ease-in-out;
}

.beneficio-item:hover{
    transform: translateY(-10px)scale(1.03);
}

.beneficios-footer{
    height: 14rem;
    align-content: center;
}

.precios{
    background:#FFD5A5;
}

.precios-heading{
    height: 12rem;
    padding: 0px 0;
    align-content: center;
    background-color: #FBB768;
}

.precios-heading h2{
    font-size: 32px;
    font-weight: 900;
}

.precios-heading p{
    font-size: 16px;
    font-weight: 400;
    color:#131313;
}

.precios-box{
    display: flex;
    margin:1px auto;
    width:1100px;
}

.wrapper-pr{
    width:800px;
    margin:50px;
    padding:20px;
    background: #FFF9F2;
    border-radius: 50px;
    text-align: center;
    border:1px solid transparent;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    transition: 0.5s;
}

.wrapper-pr:hover{
    border:3px solid #F6A13C;
    background: #FFD5A5;
    transition: all 0.5s;
}

.wrapper-pr h1{
    font-size:100px;
    color:#1E3A8A;
    margin-top:5px;
    margin-bottom:5px;
}

.wrapper-pr h2{
    margin-top:30px;
    color:#F6A13C;
}

.wrapper-pr span{
    font-size:40px;
    margin-right:8px;
    color:#1E3A8A;
}

.wrapper-pr button{
    width:85%;
    background:#F6A13C;
    border:1px solid transparent;
    padding:20px;
    border-radius: 30px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size:32px;
    cursor:pointer;
    color:#FFF9F2;
    transition: 0.5s;
}

.btn-act:hover{
    background:#1E3A8A;
    color:#FFF9F2;
    transition:all 0.5s ease-in-out; 
}

.wrapper-pr ul{
    list-style:none;
    text-align:left;
    margin-top:20px; 
    margin-bottom:30px;
}

.wrapper-pr ul li{
    margin-top:10px;
    cursor:pointer;
    color:#131313;
}

.tlt-pr{
    font-weight: 700;
}

.preguntas-frecuentes{
    background: #FFF9F2;
}

.fqa-heading{
    height: 12rem;
    align-content: center;
    background-color: #FFF9F2;
}

.fqa-title{
    align-content: center;
    font-weight: 900;
    font-size: 32px;
    color: #F6A13C;
}

.fqa-title-text{
    align-content: center;
    font-weight: 400;
    font-size: 16px;
    color: #1E3A8A;
}

.fqa{
    background: #FFF9F2;
    height:1050px;
}

.accordion-fqa{
    margin:10px auto;
    width:1000px;
}

.accordion-fqa li{
    list-style:none;
    margin:20px;
    padding:30px;
    border-radius: 50px;
    background: #FFD5A5;
}

.accordion-fqa li label{
    display:flex;
    align-items:center;
    padding:20px;
    font-size:32px;
    font-weight: 400;
    cursor:pointer;
}

label::before{
    content:'+';
    margin-right:10px;
    font-size:32px;
    font-weight:400;
}

input[type="radio"]{
    display:none;
}

.accordion-fqa .content-text{
    color:#131313;
    padding:0 10px;
    line-height:26px;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion-fqa input[type="radio"]:checked + label + .content-text{
    max-height:800px;
    padding:10px 10px 20px;
}


.demo-vid{
    background: #FFD5A5;
    height:1050px;
}
.demostracionVideo{
    background: #FFD5A5;
}
.demo-vid-header{
    height: 12rem;
    align-content: center;
    background-color: #FBB768;
}
.demo-vid-titulo{
    align-content: center;
    font-weight: 900;
    font-size: 32px;
    color: #1E3A8A;
}
.demo-vid-text{
    align-content: center;
    font-weight: 400;
    font-size: 16px;
    color: #131313;
}
.video1{
    padding:20px 20px 40px;
    border-radius: 30px;
    background: #FFD5A5;
}

.youtube1{
    border-radius: 30px;
}

.galeria de imagenes{
    background: #FFD5A5;
}

.gal-img{
    background: #FFD5A5;
    height:1050px;
}
.gal-img-header{
    height: 12rem;
    align-content: center;
    background-color: #FBB768;
}

.gal-img-titulo{
    align-content: center;
    font-weight: 900;
    font-size: 32px;
    color: #1E3A8A;
}

.casosDeExito{
    background:#FFD5A5;
}

.casos-exito{
    background: #FFD5A5;
    height:1050px;
}
.casos-exito-header{
    height: 12rem;
    align-content: center;
    background-color: #FBB768;
}
.exito-box{

    padding:20px 20px 40px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.casos-exito-titulo{
    align-content: center;
    font-weight: 900;
    font-size: 32px;
    color: #1E3A8A;
}
.exito-item{
    background: #FFF9F2;
    border-radius: 5rem;
    margin:0 5rem;
    padding: 30px 60px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    color: #131313;
    gap:1.5px;
    transition:0.4 ease-in-out;
}
.imagen-exito{
    border-radius: 15px 50px 30px;
}

#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 250%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	float: left;
	width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -50%;
    }
    45% {
        left: -50%;
    }
    50% {
        left: -100%;
    }
    70% {
        left: -100%;
    }
    75% {
        left: -150%;
    }
    95% {
        left: -150%;
    }
    100% {
        left: -200%;
    }
}

