body{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E3A8A;
    
}

header{
    background-color:#1E3A8A;
    color: #FFF9F2;
    text-align: center;
    padding: 0px 0;
        

}
.container{
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 0 20px;

}

.navbar{
    background-color: #F6A13C;
    color: #FFF9F2;
    padding: 10px 20px;

}
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}
.logo{
    display: inline-block;
    width: 200px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
    background: url('../img/imgs_LandingPage/logo1.png') no-repeat center center;
    background-size: contain;
    text-indent: -9999px; /* Esto oculta el texto */
    overflow: hidden;
}
.menu{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0;
}
.menu li{
    margin-right: 20px;
}
.menu li a{
    text-decoration: none;
    color: #FFF9F2;
    transition: color 0.3s;
    
}
.menu li a:hover{
    color: #FFD5A5;
    
}
.cta-content{
    min-height: 700px;
    background-color: #1E3A8A;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta-text{
    text-align: left;
    width: 50%;
}
.cta-content h2{
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    margin-bottom: 20px;
}
.cta-content p{
    font-size: 16px;
    
}
.cta-button{
    width: 358px;
    height: 74px;
    background-color: #F6A13C;
    color: #FFF9F2;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
 
}
.cta-button:hover{
    background-color: #FFD5A5;
}

.cta-image img{
    max-width: 70%;
    height: auto;
}

section{
    /* max-width: 1440px; */
    background-color: #FFF9F2;
    color: #1E3A8A;
    text-align: center;
    padding: 0px 0;

}
.target-audience{
    padding: 20px;
    
}
.target-audience h2{
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 900;

}
.target-audience-content{
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    
}
 .target-audience-content a{
    text-align: center;
    width: 30%;
    text-decoration: none;
    color:#1E3A8A;
    background-color: #FBB768;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 30px;
}
.about_us-image{ 
    text-align: center;
    margin-bottom: 10px;
}

.about_us-image img{
    max-width: 50%;
    height: auto;
}

.target-audience-content h3{
   font-size: 32px;
   font-weight: 900;
}
.target-audience-content p{
    font-size: 16px;
    color: black;
 }
 
 #bus-image img{
    width: 1440px ;
    height: 572px;
 }
 
 #about-us-p2{
    background-color:#1E3A8A;
    text-align: center;
    padding: 0px 0;
 }

 #logo_about-us img{
    width: 200px;
    height: 100px;
    margin-left: 50px;
 }

.why-to-use {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     background-color:#1E3A8A; /* Color de fondo del botón */
     color: #F6A13C;
     padding: 20px;
     border-radius: 30px;
 }
 
 .left-side {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-right: 20px; /* Espacio entre la parte izquierda y la derecha */
     margin-top: 50px;
 }
 
 .left-side h2 {
     margin-bottom: 30px; /* Espacio entre el título y el logo */
     width: 50%;
     margin-left: 50px;
 }
 
 
 .right-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 70%;
 }
 
 .feature {
    margin-top: 100px;
     width: calc(33% - 20px);
     margin-bottom: 20px; /* Espacio entre cada característica */
     text-align: center;
 }
 
 .feature h3 {
     font-size: 16px;
     font-weight: 900;
     margin-bottom: 10px; /* Espacio entre el título y el párrafo */
 }

 #about-us-p3{
    background-color: #131313;
    color: #FFF9F2;
    text-align: center;
    padding: 40px 0;
 }

 #encomanage-logo img{
    width: 409px;
    height: 73px;
    margin-bottom: 20px;
 }

.our-team{
    padding:20px;
}

.Members{
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.Member{
    text-align: center;
    width: calc(25% - 20px); 
    margin: 10px;
    text-decoration: none;
    background-color:#131313;
    border: 2px solid #FFF9F2;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
}

.member-image img{
    width: 140px;
    height: 133px;
    border-radius: 25%;
 
 }

.Member h2{
    font-weight: normal;
}


.Member h1, .Member h2 {
    margin-top: 50px;
    margin-bottom: 70px; /* Espacio entre el título y subtítulo */
}

#testimonials {
    position: relative;
    background-color: #1E3A8A;
    color: #FFF9F2;
    text-align: center;
    padding: 50px 0;
}

#testimonials h1 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}

.people-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
    text-align: left;
    background-color: #1E3A8A;
    color: #FFF9F2;
    padding: 20px;
    border-radius: 10px;
}

.testimonial-image {
    flex-shrink: 0;
    margin-right: 20px;
}

.testimonial-image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-text {
    flex-grow: 1;
}

.testimonial p {
    font-size: 16px;
    margin-bottom: 10px;
}

.testimonial h2 {
    font-size: 14px;
    font-weight: bold;
}





